{% extends "components/base.html" %} {% block main %}

<article
  class="overflow-hidden rounded-lg border border-gray-100 bg-white shadow-sm"
>
  <img
    alt="Office"
    src="https://images.wallpaperscraft.ru/image/single/kod_programmirovanie_tekst_140050_2560x1440.jpg"
    class="h-56 w-full object-cover"
  />

  <div class="p-4 sm:p-6">
    <h2 class="text-lg font-semibold text-gray-900">
      О нашей компании
    </h2>
    <p class="mt-2 line-clamp-3 text-sm text-gray-500">
      Наша IT-компания предлагает решения высокого качества для различных бизнес-задач. Мы специализируемся на разработке программного обеспечения, цифровом маркетинге и облачных решениях. Благодаря опыту нашей команды и инновационным методам, мы помогаем нашим клиентам успешно решать их технические задачи.
    </p>

  </div>
</article>

{% endblock main %}
